* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
  color: #99a799;
  font-family: Helvetica;
}
/**HEADER STYLING BEGINS HERE!!!***/
header {
  display: flex;
  justify-content: space-between;
  background-color: #1b242f;
  color: white;
  align-items: center;
  position: sticky;
  top: 0;
  border-bottom: 1px solid white;
}
.name {
  font-size: 42px;
  padding: 1.2rem;
}
/**HAMBURGER-MENU GENERATION and STYLING**/
.hamburger-menu {
  display: none;
  width: 35px;
  height: 26px;
  position: absolute;
  top: 1.9rem;
  right: 1rem;
  flex-direction: column;
  justify-content: space-between;
}

.bar {
  height: 6px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

.navbar-links ul {
  display: flex;
  margin: 0;
  padding: 0;
}
.navbar-links li {
  list-style: none;
  font-size: 25px;
}
.navbar-links a {
  text-decoration: none;
  color: white;
  display: block;
  padding: 1.8rem;
  font-weight: bolder;
}
.navbar-links li a:hover {
  color: #e31b6d;
}
.navbar {
  display: flex;
  flex-direction: column;
  background-color: grey;
  height: 15px;
  width: 20px;
}
.navbar-links li:active {
  color: green;
}

/**SECTIONS STYLING BEGINS HERE!!***/
.flex-sections {
  margin: 15px;
}
.abt-me-flex-container {
  display: flex;
  padding: 20px;

  justify-content: space-between;
}
.abt-me-flex-container,
.work-flex-container,
.contact-flex-container,
.resume-flex-container {
  height: 88vh;
  margin-bottom: 10px;
  scroll-margin-top: 95px;
  border: 1px solid white;
}

.bio-section {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  justify-content: space-around;
}
.bio-section h2 {
  font-size: 42px;
}
.bio-section p {
  font-size: 30px;
}
p {
  font-size: 40px;
}

/***MEDIA QUERIES GO HERE!!!***/
@media (max-width: 940px) {
  .hamburger-menu {
    display: flex;
    color: yellow;
  }

  .navbar-links {
    width: 100%;
    display: none;
  }
  header {
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar-links ul {
    flex-flow: column;
    width: 100%;
    text-align: center;
  }
  .navbar-links a {
    padding: 0.5rem 1rem;
  }
  .navbar-links.active {
    display: flex;
  }
}
