:root {
  --header-size: ;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: black;
  color: #99a799;
  font-family: Helvetica;
}
/**HEADER STYLING BEGINS HERE!!!***/
header {
  display: flex;
  justify-content: space-between;
  background-color: #1b242f;
  color: white;
  align-items: center;
  position: sticky;
  top: 0;
  border-bottom: 1px solid white;
}
.name {
  font-size: 42px;
  padding: 1.2rem;
}
/**HAMBURGER-MENU GENERATION and STYLING**/
.hamburger-menu {
  display: none;
  width: 35px;
  height: 26px;
  position: absolute;
  top: 1.9rem;
  right: 1rem;
  flex-direction: column;
  justify-content: space-between;
}

.bar {
  height: 6px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

.navbar-links ul {
  display: flex;
  margin: 0;
  padding: 0;
}
.navbar-links li {
  list-style: none;
  font-size: 25px;
}
.navbar-links a {
  text-decoration: none;
  color: white;
  display: block;
  padding: 1.8rem;
  font-weight: bolder;
}
.navbar-links li a:hover {
  color: #e31b6d;
}
.navbar {
  display: flex;
  flex-direction: column;
  background-color: grey;
  height: 15px;
  width: 20px;
}
.navbar-links li:active {
  color: green;
}

/**SECTIONS STYLING BEGINS HERE!!***/

.hero {
  background-image: url("../image/hero.jpg");
  height: 300px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
}

.hero h2 {
  color: #000000;
  font-family: papyrus;
}

.abt-me-flex-container {
  display: flex;
  padding: 20px;
  justify-content: space-between;
}
.work-flex-container,
.contact-flex-container,
.resume-flex-container {
  height: 88vh;
  scroll-margin-top: 95px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  background-color: #1b242f;
  color: white;
}
.flex-sections {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bio-section {
  display: flex;
  color: aliceblue;
  scroll-margin-top: 95px;
  justify-content: space-around;
  height: 100%;
  margin-top: 10px;
  padding: 10px;
  flex: 1;
}
.bio-section h2 {
  font-size: 35px;
  text-align: right;
  flex: 1;
}
.bio-section span {
  display: block;
  color: chocolate;
  margin: 5px;
}
.bio-in-bio {
  font-size: 25px;
  display: flex;
  justify-content: center;
  text-align: right;
  width: 75%;
  margin: 5px;
}
.image_plus_bio {
  display: flex;
  flex: 8;
  text-align: center;
}
.vertical-border {
  width: 8px;
  height: 250px;
  background-color: #99a799;
  margin: 0 10px 0 10px;
  border-radius: 10px;
}

/**contact styling begins here**/
.contact-flex-container {
  align-items: center;
  justify-content: space-around;
  background-color: #373753;
  height: 73vh;
  width: 100%;
}
.contact-flex-container h2 {
  font-size: 42px;
  margin-top: 10px;
  padding: 20px;
  border-bottom: 3px solid aqua;
}
.contact-flex-container p {
  color: aqua;
  font-size: 20px;
}
.form-contact {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.form-contact input,
textarea {
  margin-bottom: 20px;
  padding: 10px;
  width: 410px;
  display: block;
}
.form-container {
  text-align: center;
}
.submit {
  font-size: 20px;
  padding: 5px 20px 5px 20px;
  border: none;
}
.submit:hover {
  background-color: #e31b6d;
  color: white;
}

/**FOOTER STYLING**/
footer {
  text-align: center;
  height: 15vh;
  background-color: #30305a;
}

.fa {
  padding: 20px;
  color: red;
  text-shadow: 2px 2px 4px #000000;
}
footer p {
  color: grey;
  font-size: 20px;
}
footer span {
  color: red;
}
/***MEDIA QUERIES GO HERE!!!***/
@media (max-width: 940px) {
  .hamburger-menu {
    display: flex;
    color: yellow;
  }

  .navbar-links {
    width: 100%;
    display: none;
  }
  header {
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar-links ul {
    flex-flow: column;
    width: 100%;
    text-align: center;
  }
  .navbar-links a {
    padding: 0.5rem 1rem;
  }
  .navbar-links.active {
    display: flex;
  }
}
@media (max-width: 850px) {
  .bio-section {
    width: 85%;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  .image_plus_bio p {
    text-align: center;
  }
  .bio-section h2 {
    font-size: 32px;
  }
  .bio-section > h2 > span {
    color: chocolate;
    display: inline-block;
  }
  .bio-section > span {
    height: 5px;
    width: 300px;
    background: #99a799;
  }
  .bio-section p {
    font-size: 20px;
    width: 80%;
  }
}
@media (max-width: 700px) {
  /*we will put the image and the bio in column direction**/

  .image_plus_bio {
    flex-direction: column;
    padding: 30px;
    text-align: center;
  }
  .image {
    order: 1;
    text-align: center;
    width: inherit;
  }
  .image img {
    height: 400px;
    width: 350px;
  }
  .bio-in-bio {
    order: 2;
    width: 400px;
    margin: 10px;
    text-align: center;
  }
}
@media (max-width: 610px) {
  .form-container {
    width: 80%;
  }

  .form-contact input,
  textarea {
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;
  }
  .contact-flex-container p {
    font-size: 15px;
  }
  .contact-flex-container h2 {
    font-size: 35px;
  }
  .hero {
    justify-content: center;
  }
}
